@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../fonts/Chunkfive-webfont.eot');
	src: local('☺'), url('../fonts/Chunkfive-webfont.woff') format('woff'), url('../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/Chunkfive-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{ background:#f5f6f6; }
body{
//	background:url('../images/back.png');
//	background-color: #f0c5f0;
}
#deck h1 { font-family: 'ChunkFiveRegular', Arial; font-size:50px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck h2 { font-family: 'ChunkFiveRegular', Arial; font-size: 30px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck p { font-family: Arial; font-size:18px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deeck li { font-family: Arial; font-size:18px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }

.snippet-formatted {
font-size: 11px ;
background-color: red;	
}
pre.snippet-formatted ol li 
{
	font-size: inherit;
}
}

body 
{
	height: 650px;
	overflow:auto;
}

.slide pre 
{
	font-family: monospace;
	font-size: 12px;
	line-height: 1em;
}

.snippet-wrap .snippet-num {
	padding-left: .1em;	
	margin: 0em;
}
.snippet-container {
	margin-bottom: 2em;
}
#phpfoot
{
	background-color: #336;
	position: absolute;
	bottom: .1em;
	padding: .5em;
	color: white;
	font-size: 14px;
	width:100%;
}

.snippet-wrap .snippet-num li {
    padding-left: .3em;
}
.snippet-wrap pre.sh_sourceCode {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 5px #000000;
    line-height: 1.2em;
    overflow: auto;
    padding: 1em;
    position: relative;
}


.exercise 
{
	background-color: #9d3;
	min-height: 300px;
	padding: 1em;
	border-bottom: .2em solid #350;
	border-right: .2em solid #350;
}

.output
{
	overflow: auto;
	height: 200px;	
}

pre.output {
	padding: .5em;
	border-radius: 6px;
    background-color:#222;
    color:#0C0;
    font-weight:bold;
	font-size: 16px;
	line-height: 1.1em;
}

#deck 
{
	overflow:auto;
	height: 660px;
}