<h2 class="title">
Classes - type hinting
</h2>
<p>
When declaring functions or methods, we can "type hint" parameters 
with custom class types (or generic Array types).
</p>
<pre class="code php">
<?php
class person {
 public $type;
}
class student extends person {
 public $type = "student";
}
function getPersonType(person $p) {
 return $p->type;
}
?>
</pre>

<h2>Basic usage</h2>
<pre class="code php">
<?php
$t = new student();
$type = getPersonType($t);
echo $type; // echoes out 'student'
?>
</pre>

