<h2 class="title">
Classes - visibility - private
</h2>
<p>
protected - properties and methods can be accessed only inside the object
</p>

<pre class="code php">
<?php
error_reporting(E_ALL);
class person {
 public $type;
 private $id = 2;
 public function showId() {
  echo $this->id;
 }
}
class student extends person { 
 public function showId() {
  echo $this->id;
 }
}
class teacher extends person { }

$s = new student();
$s->showId(); // error
$t = new teacher();
$t->showId();
?>
</pre>

